In [1]:
import ppscore as pps
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import plotly.express as px

In [2]:
#We use a database that will help to draw conclusions of the incomes of the people in Madrid and the weight that rent and buy has over it

In [3]:
db_rentamedia_distritos= pd.read_excel("Rentas_distritos.xlsx")

In [4]:
db_rentamedia_distritos

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Madrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Indicadores de renta media y mediana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unidades: €,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,,Renta neta media por persona,Renta neta media por hogar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,,2018,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Centro, Madrid",17932,36072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Arganzuela, Madrid",18473,43789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Retiro, Madrid",22706,55775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Salamanca, Madrid",26255,61466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Chamartin, Madrid",28190,70735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Tetuan, Madrid",15742,37557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Chamberi, Madrid",24112,54327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Fuencarral-Pardo, Madrid",19551,52858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Moncloa-Aravaca, Madrid",24686,64066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Latina, Madrid",12749,31872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Carabanchel, Madrid",11327,29842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Usera, Madrid",9860,27674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Puente de Vallecas, Madrid",10045,26652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Moratalaz, Madrid",14637,36755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Ciudad Lineal, Madrid",15815,39425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Hortaleza, Madrid",19759,52944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Villaverde, Madrid",10164,28407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Villa de Vallecas, Madrid",12545,32765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Vicalvaro, Madrid",12353,33870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"San Blas-Canillejas, Madrid",14100,37112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"Barajas, Madrid",18514,49615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
db_rentamedia_distritos=pd.DataFrame(db_rentamedia_distritos)

In [6]:
db_rentamedia_distritos['Unnamed: 0']

0                                   Madrid
1                                      NaN
2     Indicadores de renta media y mediana
3                            Unidades:   €
4                                      NaN
5
6
7                                      NaN
8                           Centro, Madrid
9                       Arganzuela, Madrid
10                          Retiro, Madrid
11                       Salamanca, Madrid
12                       Chamartin, Madrid
13                          Tetuan, Madrid
14                        Chamberi, Madrid
15                Fuencarral-Pardo, Madrid
16                 Moncloa-Aravaca, Madrid
17                          Latina, Madrid
18                     Carabanchel, Madrid
19                           Usera, Madrid
20              Puente de Vallecas, Madrid
21                       Moratalaz, Madrid
22                   Ciudad Lineal, Madrid
23                       Hortaleza, Madrid
24                      Villaverde, Madrid
25               Villa de Vallecas, Madrid
26                       Vicalvaro, Madrid
27             San Blas-Canillejas, Madrid
28                         Barajas, Madrid
Name: Unnamed: 0, dtype: object

In [11]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="aitor.cengon@gmail.com")

In [12]:
db_rentamedia_distritos['city_coord']=db_rentamedia_distritos['Unnamed: 0'].apply(geolocator.geocode)

In [13]:
db_rentamedia_distritos['latitude']=None
db_rentamedia_distritos['longitude']=None

In [14]:
db_rentamedia_distritos=db_rentamedia_distritos.drop([0,1,2,3,4,5,6,7])

In [15]:
db_rentamedia_distritos['latitude'] = db_rentamedia_distritos['city_coord'].apply(lambda x: (x.latitude))
db_rentamedia_distritos['longitude'] = db_rentamedia_distritos['city_coord'].apply(lambda x: (x.longitude))

In [16]:
db_rentamedia_distritos

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,city_coord,latitude,longitude
8,"Centro, Madrid",17932,36072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914
9,"Arganzuela, Madrid",18473,43789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289
10,"Retiro, Madrid",22706,55775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057
11,"Salamanca, Madrid",26255,61466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602
12,"Chamartin, Madrid",28190,70735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129
13,"Tetuan, Madrid",15742,37557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281
14,"Chamberi, Madrid",24112,54327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830
15,"Fuencarral-Pardo, Madrid",19551,52858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591
16,"Moncloa-Aravaca, Madrid",24686,64066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204
17,"Latina, Madrid",12749,31872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152
18,"Carabanchel, Madrid",11327,29842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676
19,"Usera, Madrid",9860,27674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446
20,"Puente de Vallecas, Madrid",10045,26652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535
21,"Moratalaz, Madrid",14637,36755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874
22,"Ciudad Lineal, Madrid",15815,39425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495
23,"Hortaleza, Madrid",19759,52944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552
24,"Villaverde, Madrid",10164,28407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956
25,"Villa de Vallecas, Madrid",12545,32765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163
26,"Vicalvaro, Madrid",12353,33870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622
27,"San Blas-Canillejas, Madrid",14100,37112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(San Blas - Canillejas, Área metropolitana de ...",40.428919,-3.604002
28,"Barajas, Madrid",18514,49615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845

In [17]:
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 3'],axis=1)
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 4'],axis=1)
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 5'],axis=1)
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 6'],axis=1)
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 7'],axis=1)
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 8'],axis=1)
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 9'],axis=1)
db_rentamedia_distritos=db_rentamedia_distritos.drop(['Unnamed: 10'],axis=1)

In [18]:
db_rentamedia_distritos

,Unnamed: 0,Unnamed: 1,Unnamed: 2,city_coord,latitude,longitude
8,"Centro, Madrid",17932,36072,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914
9,"Arganzuela, Madrid",18473,43789,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289
10,"Retiro, Madrid",22706,55775,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057
11,"Salamanca, Madrid",26255,61466,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602
12,"Chamartin, Madrid",28190,70735,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129
13,"Tetuan, Madrid",15742,37557,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281
14,"Chamberi, Madrid",24112,54327,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830
15,"Fuencarral-Pardo, Madrid",19551,52858,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591
16,"Moncloa-Aravaca, Madrid",24686,64066,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204
17,"Latina, Madrid",12749,31872,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152
18,"Carabanchel, Madrid",11327,29842,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676
19,"Usera, Madrid",9860,27674,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446
20,"Puente de Vallecas, Madrid",10045,26652,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535
21,"Moratalaz, Madrid",14637,36755,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874
22,"Ciudad Lineal, Madrid",15815,39425,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495
23,"Hortaleza, Madrid",19759,52944,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552
24,"Villaverde, Madrid",10164,28407,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956
25,"Villa de Vallecas, Madrid",12545,32765,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163
26,"Vicalvaro, Madrid",12353,33870,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622
27,"San Blas-Canillejas, Madrid",14100,37112,"(San Blas - Canillejas, Área metropolitana de ...",40.428919,-3.604002
28,"Barajas, Madrid",18514,49615,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845

In [19]:
db_rentamedia_distritos = db_rentamedia_distritos.rename(columns={'Unnamed: 0': 'Distritos'})
db_rentamedia_distritos = db_rentamedia_distritos.rename(columns={'Unnamed: 1': 'Renta_media_persona'})
db_rentamedia_distritos = db_rentamedia_distritos.rename(columns={'Unnamed: 2': 'Renta_media_hogar'})

In [20]:
db_rentamedia_distritos

,Distritos,Renta_media_persona,Renta_media_hogar,city_coord,latitude,longitude
8,"Centro, Madrid",17932,36072,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914
9,"Arganzuela, Madrid",18473,43789,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289
10,"Retiro, Madrid",22706,55775,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057
11,"Salamanca, Madrid",26255,61466,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602
12,"Chamartin, Madrid",28190,70735,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129
13,"Tetuan, Madrid",15742,37557,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281
14,"Chamberi, Madrid",24112,54327,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830
15,"Fuencarral-Pardo, Madrid",19551,52858,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591
16,"Moncloa-Aravaca, Madrid",24686,64066,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204
17,"Latina, Madrid",12749,31872,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152
18,"Carabanchel, Madrid",11327,29842,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676
19,"Usera, Madrid",9860,27674,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446
20,"Puente de Vallecas, Madrid",10045,26652,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535
21,"Moratalaz, Madrid",14637,36755,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874
22,"Ciudad Lineal, Madrid",15815,39425,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495
23,"Hortaleza, Madrid",19759,52944,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552
24,"Villaverde, Madrid",10164,28407,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956
25,"Villa de Vallecas, Madrid",12545,32765,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163
26,"Vicalvaro, Madrid",12353,33870,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622
27,"San Blas-Canillejas, Madrid",14100,37112,"(San Blas - Canillejas, Área metropolitana de ...",40.428919,-3.604002
28,"Barajas, Madrid",18514,49615,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845

In [22]:
db_rentamedia_distritos.Distritos=db_rentamedia_distritos.Distritos.str.replace(", Madrid", "")

In [23]:
db_rentamedia_distritos

,Distritos,Renta_media_persona,Renta_media_hogar,city_coord,latitude,longitude
8,Centro,17932,36072,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914
9,Arganzuela,18473,43789,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289
10,Retiro,22706,55775,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057
11,Salamanca,26255,61466,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602
12,Chamartin,28190,70735,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129
13,Tetuan,15742,37557,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281
14,Chamberi,24112,54327,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830
15,Fuencarral-Pardo,19551,52858,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591
16,Moncloa-Aravaca,24686,64066,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204
17,Latina,12749,31872,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152
18,Carabanchel,11327,29842,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676
19,Usera,9860,27674,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446
20,Puente de Vallecas,10045,26652,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535
21,Moratalaz,14637,36755,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874
22,Ciudad Lineal,15815,39425,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495
23,Hortaleza,19759,52944,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552
24,Villaverde,10164,28407,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956
25,Villa de Vallecas,12545,32765,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163
26,Vicalvaro,12353,33870,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622
27,San Blas-Canillejas,14100,37112,"(San Blas - Canillejas, Área metropolitana de ...",40.428919,-3.604002
28,Barajas,18514,49615,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845

In [45]:
db_distritos= pd.read_csv("db_merge_distritos.csv")
db_distritos=db_distritos.drop(['Unnamed: 0'],axis=1)
db_distritos = db_distritos.rename(columns={'district': 'Distritos'})
db_distritos

             Distritos  buy_price  rent_price
0           Arganzuela   360000.0      1346.0
1              Barajas   427500.0      1502.0
2          Carabanchel   165000.0       798.0
3               Centro   520000.0      1553.0
4            Chamartin   820000.0      1381.0
5             Chamberi   710000.0      1627.0
6        Ciudad Lineal   259000.0      1064.5
7     Fuencarral-Pardo   549000.0      1496.0
8            Hortaleza   629000.0      1255.0
9               Latina   175000.0       833.0
10     Moncloa-Aravaca   929500.0      1262.0
11           Moratalaz   215000.0       964.0
12  Puente de Vallecas   136750.0       693.0
13              Retiro   550000.0      1553.0
14           Salamanca   797000.0      1451.0
15              Tetuan   299000.0      1158.5
16               Usera   160000.0       780.0
17           Vicalvaro   253896.5      1077.5
18   Villa de Vallecas   196000.0       904.0
19          Villaverde   146000.0       728.0

In [46]:
db_datos_distritos=db_distritos.merge(db_rentamedia_distritos,how="left", on=['Distritos'])
db_datos_distritos

,Distritos,buy_price,rent_price,Renta_media_persona,Renta_media_hogar,city_coord,latitude,longitude
0,Arganzuela,360000.0,1346.0,18473,43789,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289
1,Barajas,427500.0,1502.0,18514,49615,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845
2,Carabanchel,165000.0,798.0,11327,29842,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676
3,Centro,520000.0,1553.0,17932,36072,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914
4,Chamartin,820000.0,1381.0,28190,70735,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129
5,Chamberi,710000.0,1627.0,24112,54327,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830
6,Ciudad Lineal,259000.0,1064.5,15815,39425,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495
7,Fuencarral-Pardo,549000.0,1496.0,19551,52858,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591
8,Hortaleza,629000.0,1255.0,19759,52944,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552
9,Latina,175000.0,833.0,12749,31872,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152
10,Moncloa-Aravaca,929500.0,1262.0,24686,64066,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204
11,Moratalaz,215000.0,964.0,14637,36755,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874
12,Puente de Vallecas,136750.0,693.0,10045,26652,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535
13,Retiro,550000.0,1553.0,22706,55775,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057
14,Salamanca,797000.0,1451.0,26255,61466,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602
15,Tetuan,299000.0,1158.5,15742,37557,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281
16,Usera,160000.0,780.0,9860,27674,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446
17,Vicalvaro,253896.5,1077.5,12353,33870,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622
18,Villa de Vallecas,196000.0,904.0,12545,32765,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163
19,Villaverde,146000.0,728.0,10164,28407,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956

In [47]:
db_datos_distritos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Distritos            20 non-null     object
 1   buy_price            20 non-null     float64
 2   rent_price           20 non-null     float64
 3   Renta_media_persona  20 non-null     object
 4   Renta_media_hogar    20 non-null     object
 5   city_coord           20 non-null     object
 6   latitude             20 non-null     float64
 7   longitude            20 non-null     float64
dtypes: float64(4), object(4)
memory usage: 1.4+ KB

In [ ]:
#We can see the plots on the Power Bi document uploaded to github

In [48]:
db_datos_distritos.to_csv('db_datos_distritos.csv')

In [ ]:
#That's a very interesting function because it allows us to see how many years of incomes you have to dedicate to pay for a home in each area

In [49]:
def years(x):
    
    x['years_to_buy']=x['buy_price']/(x['Renta_media_persona'])
    
    return x

In [50]:
db_datos_distritos= db_datos_distritos.apply(years,axis=1)

In [51]:
db_datos_distritos

,Distritos,buy_price,rent_price,Renta_media_persona,Renta_media_hogar,city_coord,latitude,longitude,years_to_buy
0,Arganzuela,360000.0,1346.0,18473,43789,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289,19.487901
1,Barajas,427500.0,1502.0,18514,49615,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845,23.090634
2,Carabanchel,165000.0,798.0,11327,29842,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676,14.566964
3,Centro,520000.0,1553.0,17932,36072,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914,28.998439
4,Chamartin,820000.0,1381.0,28190,70735,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129,29.088329
5,Chamberi,710000.0,1627.0,24112,54327,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830,29.445919
6,Ciudad Lineal,259000.0,1064.5,15815,39425,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495,16.376857
7,Fuencarral-Pardo,549000.0,1496.0,19551,52858,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591,28.080405
8,Hortaleza,629000.0,1255.0,19759,52944,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552,31.833595
9,Latina,175000.0,833.0,12749,31872,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152,13.726567
10,Moncloa-Aravaca,929500.0,1262.0,24686,64066,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204,37.652921
11,Moratalaz,215000.0,964.0,14637,36755,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874,14.688802
12,Puente de Vallecas,136750.0,693.0,10045,26652,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535,13.613738
13,Retiro,550000.0,1553.0,22706,55775,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057,24.222672
14,Salamanca,797000.0,1451.0,26255,61466,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602,30.356123
15,Tetuan,299000.0,1158.5,15742,37557,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281,18.993775
16,Usera,160000.0,780.0,9860,27674,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446,16.227181
17,Vicalvaro,253896.5,1077.5,12353,33870,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622,20.553428
18,Villa de Vallecas,196000.0,904.0,12545,32765,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163,15.623754
19,Villaverde,146000.0,728.0,10164,28407,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956,14.364423

In [59]:
db_datos_distritos.to_csv('db_datos_distritos.csv')

In [ ]:
#Here we sorted the dataframe by years to buy

In [57]:
db_datos_distritos.sort_values("years_to_buy")

,Distritos,buy_price,rent_price,Renta_media_persona,Renta_media_hogar,city_coord,latitude,longitude,years_to_buy
12,Puente de Vallecas,136750.0,693.0,10045,26652,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535,13.613738
9,Latina,175000.0,833.0,12749,31872,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152,13.726567
19,Villaverde,146000.0,728.0,10164,28407,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956,14.364423
2,Carabanchel,165000.0,798.0,11327,29842,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676,14.566964
11,Moratalaz,215000.0,964.0,14637,36755,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874,14.688802
18,Villa de Vallecas,196000.0,904.0,12545,32765,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163,15.623754
16,Usera,160000.0,780.0,9860,27674,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446,16.227181
6,Ciudad Lineal,259000.0,1064.5,15815,39425,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495,16.376857
15,Tetuan,299000.0,1158.5,15742,37557,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281,18.993775
0,Arganzuela,360000.0,1346.0,18473,43789,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289,19.487901
17,Vicalvaro,253896.5,1077.5,12353,33870,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622,20.553428
1,Barajas,427500.0,1502.0,18514,49615,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845,23.090634
13,Retiro,550000.0,1553.0,22706,55775,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057,24.222672
7,Fuencarral-Pardo,549000.0,1496.0,19551,52858,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591,28.080405
3,Centro,520000.0,1553.0,17932,36072,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914,28.998439
4,Chamartin,820000.0,1381.0,28190,70735,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129,29.088329
5,Chamberi,710000.0,1627.0,24112,54327,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830,29.445919
14,Salamanca,797000.0,1451.0,26255,61466,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602,30.356123
8,Hortaleza,629000.0,1255.0,19759,52944,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552,31.833595
10,Moncloa-Aravaca,929500.0,1262.0,24686,64066,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204,37.652921

In [60]:
db_datos_distritos

,Distritos,buy_price,rent_price,Renta_media_persona,Renta_media_hogar,city_coord,latitude,longitude,years_to_buy
0,Arganzuela,360000.0,1346.0,18473,43789,"(Arganzuela, Chopera, Madrid, Área metropolita...",40.396954,-3.697289,19.487901
1,Barajas,427500.0,1502.0,18514,49615,"(Barajas, Madrid, Área metropolitana de Madrid...",40.473318,-3.579845,23.090634
2,Carabanchel,165000.0,798.0,11327,29842,"(Carabanchel, Madrid, Área metropolitana de Ma...",40.374211,-3.744676,14.566964
3,Centro,520000.0,1553.0,17932,36072,"(Centro, Madrid, Área metropolitana de Madrid ...",40.417653,-3.707914,28.998439
4,Chamartin,820000.0,1381.0,28190,70735,"(Chamartín, Madrid, Área metropolitana de Madr...",40.458987,-3.676129,29.088329
5,Chamberi,710000.0,1627.0,24112,54327,"(Chamberí, Área metropolitana de Madrid y Corr...",40.436247,-3.703830,29.445919
6,Ciudad Lineal,259000.0,1064.5,15815,39425,"(Ciudad Lineal, Madrid, Área metropolitana de ...",40.448431,-3.650495,16.376857
7,Fuencarral-Pardo,549000.0,1496.0,19551,52858,"(Fuencarral-El Pardo, Madrid, Área metropolita...",40.556346,-3.778591,28.080405
8,Hortaleza,629000.0,1255.0,19759,52944,"(Hortaleza, Madrid, Área metropolitana de Madr...",40.472549,-3.642552,31.833595
9,Latina,175000.0,833.0,12749,31872,"(Latina, Madrid, Área metropolitana de Madrid ...",40.403532,-3.736152,13.726567
10,Moncloa-Aravaca,929500.0,1262.0,24686,64066,"(Moncloa-Aravaca, Madrid, Área metropolitana d...",40.439495,-3.744204,37.652921
11,Moratalaz,215000.0,964.0,14637,36755,"(Moratalaz, Madrid, Área metropolitana de Madr...",40.405933,-3.644874,14.688802
12,Puente de Vallecas,136750.0,693.0,10045,26652,"(Puente de Vallecas, Área metropolitana de Mad...",40.383553,-3.654535,13.613738
13,Retiro,550000.0,1553.0,22706,55775,"(Retiro, Madrid, Área metropolitana de Madrid ...",40.411150,-3.676057,24.222672
14,Salamanca,797000.0,1451.0,26255,61466,"(Salamanca, Madrid, Área metropolitana de Madr...",40.427045,-3.680602,30.356123
15,Tetuan,299000.0,1158.5,15742,37557,"(Tetuán, Madrid, Área metropolitana de Madrid ...",40.460578,-3.698281,18.993775
16,Usera,160000.0,780.0,9860,27674,"(Usera, Madrid, Área metropolitana de Madrid y...",40.383894,-3.706446,16.227181
17,Vicalvaro,253896.5,1077.5,12353,33870,"(Vicálvaro, Madrid, Área metropolitana de Madr...",40.396584,-3.576622,20.553428
18,Villa de Vallecas,196000.0,904.0,12545,32765,"(Villa de Vallecas, Madrid, Área metropolitana...",40.373958,-3.612163,15.623754
19,Villaverde,146000.0,728.0,10164,28407,"(Villaverde, Madrid, Área metropolitana de Mad...",40.345610,-3.695956,14.364423