In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
from urllib.request import urlopen
# import random
import re
# import scrapy
import numpy as np
#pip install xlrd

In [2]:
pd.set_option("display.max_columns", 60)
db= pd.read_csv("viviendas_Madrid.csv")
db.head(100)

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,latitude,longitude,raw_address,is_exact_address_hidden,street_name,street_number,portal,floor,is_floor_under,door,neighborhood_id,operation,rent_price,rent_price_by_area,is_rent_price_known,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,are_pets_allowed,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_furnished,is_kitchen_equipped,is_accessible,has_green_zones,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,NaN,NaN,"Calle de Godella, 64",False,Calle de Godella,64,NaN,3,False,NaN,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,sale,471,NaN,False,85000,1328,True,HouseType 1: Pisos,False,False,1960.0,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,NaN,NaN,Calle de la del Manojo de Rosas,True,Calle de la del Manojo de Rosas,NaN,NaN,4,False,NaN,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,sale,666,NaN,False,129900,1856,True,HouseType 1: Pisos,True,False,NaN,NaN,NaN,NaN,NaN,True,True,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,NaN,NaN,"Calle del Talco, 68",False,Calle del Talco,68,NaN,1,False,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,722,NaN,False,144247,1535,True,HouseType 1: Pisos,False,False,NaN,False,True,NaN,NaN,True,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,NaN,NaN,Calle Pedro Jiménez,True,Calle Pedro Jiménez,NaN,NaN,Bajo,True,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,583,NaN,False,109900,1717,True,HouseType 1: Pisos,False,False,1955.0,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,NaN,NaN,Carretera de Villaverde a Vallecas,True,Carretera de Villaverde a Vallecas,NaN,NaN,4,False,NaN,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,sale,1094,NaN,False,260000,2407,True,HouseType 1: Pisos,False,False,2003.0,NaN,NaN,NaN,True,True,True,True,NaN,True,NaN,NaN,True,NaN,NaN,NaN,True,en trámite,True,NaN,NaN,True,0.0,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,21647,Piso en venta en avenida de la Verbena de la P...,"Los Ángeles, Madrid",92.0,NaN,3,1.0,NaN,NaN,NaN,NaN,Avenida de la Verbena de la Paloma,True,Avenida de la Verbena de la Paloma,NaN,NaN,6,False,NaN,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,sale,780,NaN,False,159900,1738,True,HouseType 1: Pisos,False,False,1962.0,False,True,NaN,True,NaN,True,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,96,21646,"Piso en venta en paseo Alberto Palacios, 35","San Andrés, Madrid",70.0,NaN,2,1.0,NaN,NaN,NaN,NaN,"Paseo Alberto Palacios, 35",False,Paseo Alberto Palacios,35,NaN,3,False,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,613,NaN,False,117000,1671,True,HouseType 1: Pisos,False,False,1975.0,False,True,NaN,True,True,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,True,False,True,False
97,97,21645,"Piso en venta en calle Doctor Pérez Domínguez, 2","San Andrés, Madrid",54.0,50.0,2,1.0,NaN,NaN,NaN,NaN,"Calle Doctor Pérez Domínguez, 2",False,Calle Doctor Pérez Domínguez,2,NaN,2,False,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,583,NaN,False,110000,2037,True,HouseType 1: Pisos,False,False,1960.0,False,True,NaN,NaN,NaN,False,True,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,E,False,NaN,NaN,NaN,NaN,False,False,True,False
98,98,21644,Piso en venta en Los Rosales,"Villaverde, Madrid",52.0,NaN,2,1.0,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,1,False,NaN,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,sale,539,NaN,False,100000,1923,True,HouseType 1: Pisos,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,99,21643,Piso en venta en calle de los Cacereños,"San Andrés, Madrid",108.0,NaN,3,1.0,NaN,NaN,NaN,NaN,Calle de los Cacereños,True,Calle de los Cacereños,NaN,NaN,2,False,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,705,NaN,False,140000,1296,True,HouseType 1: Pisos,False,False,1995.0,False,True,NaN,True,True,False,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,False,True,False,True

In [3]:
db.columns

Index(['Unnamed: 0', 'id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful',
       'n_rooms', 'n_bathrooms', 'n_floors', 'sq_mt_allotment', 'latitude',
       'longitude', 'raw_address', 'is_exact_address_hidden', 'street_name',
       'street_number', 'portal', 'floor', 'is_floor_under', 'door',
       'neighborhood_id', 'operation', 'rent_price', 'rent_price_by_area',
       'is_rent_price_known', 'buy_price', 'buy_price_by_area',
       'is_buy_price_known', 'house_type_id', 'is_renewal_needed',
       'is_new_development', 'built_year', 'has_central_heating',
       'has_individual_heating', 'are_pets_allowed', 'has_ac',
       'has_fitted_wardrobes', 'has_lift', 'is_exterior', 'has_garden',
       'has_pool', 'has_terrace', 'has_balcony', 'has_storage_room',
       'is_furnished', 'is_kitchen_equipped', 'is_accessible',
       'has_green_zones', 'energy_certificate', 'has_parking',
       'has_private_parking', 'has_public_parking',
       'is_parking_included_in_price', 'parking_price', 'is_orientation_north',
       'is_orientation_west', 'is_orientation_south', 'is_orientation_east'],
      dtype='object')

In [4]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    21742 non-null  int64
 1   id                            21742 non-null  int64
 2   title                         21742 non-null  object
 3   subtitle                      21742 non-null  object
 4   sq_mt_built                   21616 non-null  float64
 5   sq_mt_useful                  8228 non-null   float64
 6   n_rooms                       21742 non-null  int64
 7   n_bathrooms                   21726 non-null  float64
 8   n_floors                      1437 non-null   float64
 9   sq_mt_allotment               1432 non-null   float64
 10  latitude                      0 non-null      float64
 11  longitude                     0 non-null      float64
 12  raw_address                   16277 non-null  object
 13  is_exact_address_hidden       21742 non-null  bool
 14  street_name                   15837 non-null  object
 15  street_number                 6300 non-null   object
 16  portal                        0 non-null      float64
 17  floor                         19135 non-null  object
 18  is_floor_under                20572 non-null  object
 19  door                          0 non-null      float64
 20  neighborhood_id               21742 non-null  object
 21  operation                     21742 non-null  object
 22  rent_price                    21742 non-null  int64
 23  rent_price_by_area            0 non-null      float64
 24  is_rent_price_known           21742 non-null  bool
 25  buy_price                     21742 non-null  int64
 26  buy_price_by_area             21742 non-null  int64
 27  is_buy_price_known            21742 non-null  bool
 28  house_type_id                 21351 non-null  object
 29  is_renewal_needed             21742 non-null  bool
 30  is_new_development            20750 non-null  object
 31  built_year                    10000 non-null  float64
 32  has_central_heating           13608 non-null  object
 33  has_individual_heating        13608 non-null  object
 34  are_pets_allowed              0 non-null      float64
 35  has_ac                        11211 non-null  object
 36  has_fitted_wardrobes          13399 non-null  object
 37  has_lift                      19356 non-null  object
 38  is_exterior                   18699 non-null  object
 39  has_garden                    1556 non-null   object
 40  has_pool                      5171 non-null   object
 41  has_terrace                   9548 non-null   object
 42  has_balcony                   3321 non-null   object
 43  has_storage_room              7698 non-null   object
 44  is_furnished                  0 non-null      float64
 45  is_kitchen_equipped           0 non-null      float64
 46  is_accessible                 4074 non-null   object
 47  has_green_zones               4057 non-null   object
 48  energy_certificate            21742 non-null  object
 49  has_parking                   21742 non-null  bool
 50  has_private_parking           0 non-null      float64
 51  has_public_parking            0 non-null      float64
 52  is_parking_included_in_price  7719 non-null   object
 53  parking_price                 7719 non-null   float64
 54  is_orientation_north          11358 non-null  object
 55  is_orientation_west           11358 non-null  object
 56  is_orientation_south          11358 non-null  object
 57  is_orientation_east           11358 non-null  object
dtypes: bool(5), float64(17), int64(6), object(30)
memory usage: 8.9+ MB

In [5]:
db.describe()

,Unnamed: 0,id,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,latitude,longitude,portal,door,rent_price,rent_price_by_area,buy_price,buy_price_by_area,built_year,are_pets_allowed,is_furnished,is_kitchen_equipped,has_private_parking,has_public_parking,parking_price
count,21742.000000,21742.000000,21616.000000,8228.000000,21742.000000,21726.000000,1437.000000,1432.000000,0.0,0.0,0.0,0.0,2.174200e+04,0.0,2.174200e+04,21742.000000,10000.000000,0.0,0.0,0.0,0.0,0.0,7719.000000
mean,10870.500000,10871.500000,146.920892,103.458192,3.005749,2.091687,3.128740,241.692737,NaN,NaN,NaN,NaN,-5.917031e+04,NaN,6.537356e+05,4020.523871,1970.046400,NaN,NaN,NaN,NaN,NaN,2658.000518
std,6276.519112,6276.519112,134.181865,88.259192,1.510497,1.406992,0.907713,247.484853,NaN,NaN,NaN,NaN,9.171162e+05,NaN,7.820821e+05,1908.418774,69.386705,NaN,NaN,NaN,NaN,NaN,13360.966258
min,0.000000,1.000000,13.000000,1.000000,0.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,-3.459028e+07,NaN,3.600000e+04,447.000000,1723.000000,NaN,NaN,NaN,NaN,NaN,0.000000
25%,5435.250000,5436.250000,70.000000,59.000000,2.000000,1.000000,2.000000,2.000000,NaN,NaN,NaN,NaN,7.250000e+02,NaN,1.980000e+05,2551.000000,1957.000000,NaN,NaN,NaN,NaN,NaN,0.000000
50%,10870.500000,10871.500000,100.000000,79.000000,3.000000,2.000000,3.000000,232.000000,NaN,NaN,NaN,NaN,1.116000e+03,NaN,3.750000e+05,3720.000000,1970.000000,NaN,NaN,NaN,NaN,NaN,0.000000
75%,16305.750000,16306.750000,162.000000,113.000000,4.000000,2.000000,4.000000,354.000000,NaN,NaN,NaN,NaN,1.687000e+03,NaN,7.636000e+05,5000.000000,1994.000000,NaN,NaN,NaN,NaN,NaN,0.000000
max,21741.000000,21742.000000,999.000000,998.000000,24.000000,16.000000,7.000000,997.000000,NaN,NaN,NaN,NaN,2.517000e+03,NaN,8.800000e+06,18889.000000,8170.000000,NaN,NaN,NaN,NaN,NaN,600000.000000

In [6]:
db.isnull().sum()

Unnamed: 0                          0
id                                  0
title                               0
subtitle                            0
sq_mt_built                       126
sq_mt_useful                    13514
n_rooms                             0
n_bathrooms                        16
n_floors                        20305
sq_mt_allotment                 20310
latitude                        21742
longitude                       21742
raw_address                      5465
is_exact_address_hidden             0
street_name                      5905
street_number                   15442
portal                          21742
floor                            2607
is_floor_under                   1170
door                            21742
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              21742
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     391
is_renewal_needed                   0
is_new_development                992
built_year                      11742
has_central_heating              8134
has_individual_heating           8134
are_pets_allowed                21742
has_ac                          10531
has_fitted_wardrobes             8343
has_lift                         2386
is_exterior                      3043
has_garden                      20186
has_pool                        16571
has_terrace                     12194
has_balcony                     18421
has_storage_room                14044
is_furnished                    21742
is_kitchen_equipped             21742
is_accessible                   17668
has_green_zones                 17685
energy_certificate                  0
has_parking                         0
has_private_parking             21742
has_public_parking              21742
is_parking_included_in_price    14023
parking_price                   14023
is_orientation_north            10384
is_orientation_west             10384
is_orientation_south            10384
is_orientation_east             10384
dtype: int64

In [7]:
pd.set_option("display.max_row", 65)
Null_values_percentage = db.isnull().sum().apply(lambda x: x/db.shape[0]).sort_values(ascending=False)
Null_values_percentage

has_private_parking             1.000000
door                            1.000000
portal                          1.000000
is_furnished                    1.000000
rent_price_by_area              1.000000
longitude                       1.000000
latitude                        1.000000
has_public_parking              1.000000
is_kitchen_equipped             1.000000
are_pets_allowed                1.000000
sq_mt_allotment                 0.934137
n_floors                        0.933907
has_garden                      0.928433
has_balcony                     0.847254
has_green_zones                 0.813403
is_accessible                   0.812621
has_pool                        0.762165
street_number                   0.710238
has_storage_room                0.645939
parking_price                   0.644973
is_parking_included_in_price    0.644973
sq_mt_useful                    0.621562
has_terrace                     0.560850
built_year                      0.540061
has_ac                          0.484362
is_orientation_north            0.477601
is_orientation_south            0.477601
is_orientation_west             0.477601
is_orientation_east             0.477601
has_fitted_wardrobes            0.383727
has_central_heating             0.374115
has_individual_heating          0.374115
street_name                     0.271594
raw_address                     0.251357
is_exterior                     0.139960
floor                           0.119906
has_lift                        0.109742
is_floor_under                  0.053813
is_new_development              0.045626
house_type_id                   0.017984
sq_mt_built                     0.005795
n_bathrooms                     0.000736
energy_certificate              0.000000
has_parking                     0.000000
Unnamed: 0                      0.000000
id                              0.000000
is_buy_price_known              0.000000
buy_price_by_area               0.000000
buy_price                       0.000000
is_rent_price_known             0.000000
rent_price                      0.000000
operation                       0.000000
neighborhood_id                 0.000000
is_exact_address_hidden         0.000000
n_rooms                         0.000000
subtitle                        0.000000
title                           0.000000
is_renewal_needed               0.000000
dtype: float64

In [8]:
db=db.drop(['sq_mt_allotment'],axis=1)
db=db.drop(['Unnamed: 0'], axis=1)
db=db.drop(['portal'], axis=1)
db=db.drop(['door'], axis=1)
db=db.drop(['is_rent_price_known'], axis=1)
db=db.drop(['rent_price_by_area'],axis=1)
db=db.drop(['are_pets_allowed'], axis=1)
db=db.drop(['is_furnished'], axis=1)
db=db.drop(['is_kitchen_equipped'], axis=1)
db=db.drop(['has_private_parking'], axis=1)
db=db.drop(['has_public_parking'], axis=1)
db=db.drop(['is_accessible'], axis=1)
db=db.drop(['parking_price'], axis=1)
db=db.drop(['is_orientation_north'], axis=1)
db=db.drop(['is_orientation_west'], axis=1)
db=db.drop(['is_orientation_south'], axis=1)
db=db.drop(['is_orientation_east'], axis=1)
db=db.drop(['raw_address'], axis=1)
db=db.drop(['sq_mt_useful'], axis=1)
db=db.drop(['street_number'], axis=1)
db=db.drop(['street_name'], axis=1)
db=db.drop(['house_type_id'], axis=1)
db=db.drop(['is_floor_under'], axis=1)

In [9]:
db = db.rename(columns={'subtitle': 'location'})

In [10]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            21742 non-null  int64
 1   title                         21742 non-null  object
 2   location                      21742 non-null  object
 3   sq_mt_built                   21616 non-null  float64
 4   n_rooms                       21742 non-null  int64
 5   n_bathrooms                   21726 non-null  float64
 6   n_floors                      1437 non-null   float64
 7   latitude                      0 non-null      float64
 8   longitude                     0 non-null      float64
 9   is_exact_address_hidden       21742 non-null  bool
 10  floor                         19135 non-null  object
 11  neighborhood_id               21742 non-null  object
 12  operation                     21742 non-null  object
 13  rent_price                    21742 non-null  int64
 14  buy_price                     21742 non-null  int64
 15  buy_price_by_area             21742 non-null  int64
 16  is_buy_price_known            21742 non-null  bool
 17  is_renewal_needed             21742 non-null  bool
 18  is_new_development            20750 non-null  object
 19  built_year                    10000 non-null  float64
 20  has_central_heating           13608 non-null  object
 21  has_individual_heating        13608 non-null  object
 22  has_ac                        11211 non-null  object
 23  has_fitted_wardrobes          13399 non-null  object
 24  has_lift                      19356 non-null  object
 25  is_exterior                   18699 non-null  object
 26  has_garden                    1556 non-null   object
 27  has_pool                      5171 non-null   object
 28  has_terrace                   9548 non-null   object
 29  has_balcony                   3321 non-null   object
 30  has_storage_room              7698 non-null   object
 31  has_green_zones               4057 non-null   object
 32  energy_certificate            21742 non-null  object
 33  has_parking                   21742 non-null  bool
 34  is_parking_included_in_price  7719 non-null   object
dtypes: bool(4), float64(6), int64(5), object(20)
memory usage: 5.2+ MB

In [11]:
db.energy_certificate.value_counts()

en trámite         10937
no indicado         3669
E                   2701
D                   1121
G                    894
F                    674
A                    618
C                    580
B                    452
inmueble exento       96
Name: energy_certificate, dtype: int64

In [12]:
db.has_ac.value_counts()

True    11211
Name: has_ac, dtype: int64

In [13]:
db.has_ac=db.has_ac.astype(str) 
db.has_ac=db.has_ac.str.replace("nan", "False")
db.has_ac

0         True
1        False
2        False
3        False
4         True
         ...
21737     True
21738     True
21739     True
21740     True
21741    False
Name: has_ac, Length: 21742, dtype: object

In [14]:
db.has_fitted_wardrobes=db.has_fitted_wardrobes.astype(str) 
db.has_fitted_wardrobes=db.has_fitted_wardrobes.str.replace("nan", "False")
db.has_fitted_wardrobes

0        False
1         True
2         True
3        False
4         True
         ...
21737     True
21738     True
21739     True
21740     True
21741    False
Name: has_fitted_wardrobes, Length: 21742, dtype: object

In [15]:
db.has_lift=db.has_lift.astype(str) 
db.has_lift=db.has_lift.str.replace("nan", "False")
db.has_lift

0        False
1         True
2         True
3         True
4         True
         ...
21737     True
21738     True
21739    False
21740    False
21741     True
Name: has_lift, Length: 21742, dtype: object

In [16]:
db.is_exterior=db.is_exterior.astype(str) 
db.is_exterior=db.is_exterior.str.replace("nan", "False")
db.is_exterior

0         True
1         True
2         True
3         True
4         True
         ...
21737     True
21738     True
21739     True
21740    False
21741     True
Name: is_exterior, Length: 21742, dtype: object

In [17]:
db.has_garden.value_counts()

True    1556
Name: has_garden, dtype: int64

In [18]:
db.has_garden=db.has_garden.astype(str) 
db.has_garden=db.has_garden.str.replace("nan", "False")
db.has_garden

0        False
1        False
2        False
3        False
4        False
         ...
21737    False
21738    False
21739    False
21740     True
21741    False
Name: has_garden, Length: 21742, dtype: object

In [19]:
db.has_pool.value_counts()

True    5171
Name: has_pool, dtype: int64

In [20]:
db.has_pool=db.has_pool.astype(str) 
db.has_pool=db.has_pool.str.replace("nan", "False")
db.has_pool

0        False
1        False
2        False
3        False
4         True
         ...
21737    False
21738     True
21739     True
21740    False
21741     True
Name: has_pool, Length: 21742, dtype: object

In [21]:
db.has_terrace.value_counts()

True    9548
Name: has_terrace, dtype: int64

In [22]:
db.has_terrace=db.has_terrace.astype(str) 
db.has_terrace=db.has_terrace.str.replace("nan", "False")
db.has_terrace

0        False
1         True
2        False
3        False
4        False
         ...
21737    False
21738    False
21739     True
21740     True
21741     True
Name: has_terrace, Length: 21742, dtype: object

In [23]:
db.has_balcony=db.has_balcony.astype(str) 
db.has_balcony=db.has_balcony.str.replace("nan", "False")
db.has_balcony

0        False
1        False
2        False
3        False
4        False
         ...
21737    False
21738    False
21739    False
21740     True
21741    False
Name: has_balcony, Length: 21742, dtype: object

In [24]:
db.has_storage_room=db.has_storage_room.astype(str) 
db.has_storage_room=db.has_storage_room.str.replace("nan", "False")
db.has_storage_room

0        False
1        False
2         True
3         True
4         True
         ...
21737     True
21738     True
21739     True
21740     True
21741    False
Name: has_storage_room, Length: 21742, dtype: object

In [25]:
db.has_green_zones=db.has_green_zones.astype(str) 
db.has_green_zones=db.has_green_zones.str.replace("nan", "False")
db.has_green_zones

0        False
1        False
2        False
3        False
4         True
         ...
21737    False
21738     True
21739    False
21740    False
21741    False
Name: has_green_zones, Length: 21742, dtype: object

In [26]:
db.is_parking_included_in_price=db.is_parking_included_in_price.astype(str) 
db.is_parking_included_in_price=db.is_parking_included_in_price.str.replace("nan", "False")
db.is_parking_included_in_price

0        False
1        False
2        False
3        False
4         True
         ...
21737     True
21738     True
21739     True
21740     True
21741     True
Name: is_parking_included_in_price, Length: 21742, dtype: object

In [27]:
db.n_floors.value_counts()

4.0    567
3.0    476
2.0    316
1.0     56
5.0     21
7.0      1
Name: n_floors, dtype: int64

In [28]:
db.n_floors=db.n_floors.astype(str) 
db.n_floors=db.n_floors.str.replace("nan", "1.0")
db.n_floors

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
21737    1.0
21738    1.0
21739    1.0
21740    3.0
21741    1.0
Name: n_floors, Length: 21742, dtype: object

In [29]:
db.n_floors.value_counts()

1.0    20361
4.0      567
3.0      476
2.0      316
5.0       21
7.0        1
Name: n_floors, dtype: int64

In [30]:
db.has_central_heating.value_counts()

False    9516
True     4092
Name: has_central_heating, dtype: int64

In [31]:
db.built_year=db.built_year.astype(str) 
db.built_year=db.built_year.str.replace("nan", "not_specified")
db.built_year

0               1960.0
1        not_specified
2        not_specified
3               1955.0
4               2003.0
             ...
21737           2020.0
21738           2002.0
21739           2002.0
21740           1981.0
21741    not_specified
Name: built_year, Length: 21742, dtype: object

In [32]:
db.is_new_development=db.is_new_development.astype(str) 
db.is_new_development=db.is_new_development.str.replace("nan", "False")
db.is_new_development

0        False
1        False
2        False
3        False
4        False
         ...
21737    False
21738    False
21739    False
21740    False
21741     True
Name: is_new_development, Length: 21742, dtype: object

In [33]:
db.n_bathrooms=db.n_bathrooms.astype(str) 
db.n_bathrooms=db.n_bathrooms.str.replace("nan", "not_specified")
db.n_bathrooms

0        1.0
1        1.0
2        2.0
3        1.0
4        2.0
        ...
21737    2.0
21738    2.0
21739    2.0
21740    3.0
21741    2.0
Name: n_bathrooms, Length: 21742, dtype: object

In [34]:
db.has_central_heating=db.has_central_heating.astype(str) 
db.has_central_heating=db.has_central_heating.str.replace("nan", "not_specified")
db.has_central_heating

0        not_specified
1        not_specified
2                False
3        not_specified
4        not_specified
             ...
21737            False
21738            False
21739            False
21740    not_specified
21741    not_specified
Name: has_central_heating, Length: 21742, dtype: object

In [35]:
db.has_individual_heating=db.has_individual_heating.astype(str) 
db.has_individual_heating=db.has_individual_heating.str.replace("nan", "not_specified")
db.has_individual_heating

0        not_specified
1        not_specified
2                 True
3        not_specified
4        not_specified
             ...
21737             True
21738             True
21739             True
21740    not_specified
21741    not_specified
Name: has_individual_heating, Length: 21742, dtype: object

In [36]:
db.floor=db.floor.astype(str) 
db.floor=db.floor.str.replace("nan", "not_specified")
db.floor

0                    3
1                    4
2                    1
3                 Bajo
4                    4
             ...
21737                4
21738                3
21739             Bajo
21740    not_specified
21741    not_specified
Name: floor, Length: 21742, dtype: object

In [37]:
db.sq_mt_built=db.sq_mt_built.astype(str) 
db.sq_mt_built=db.sq_mt_built.str.replace("nan", "0")
db.sq_mt_built

0         64.0
1         70.0
2         94.0
3         64.0
4        108.0
         ...
21737     78.0
21738     96.0
21739    175.0
21740    289.0
21741     72.0
Name: sq_mt_built, Length: 21742, dtype: object

In [38]:
db[db.sq_mt_built.isin(['0'])]

,id,title,location,sq_mt_built,n_rooms,n_bathrooms,n_floors,latitude,longitude,is_exact_address_hidden,floor,neighborhood_id,operation,rent_price,buy_price,buy_price_by_area,is_buy_price_known,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,has_green_zones,energy_certificate,has_parking,is_parking_included_in_price
5743,15999,Casa o chalet independiente en venta en calle...,"El Plantío, Madrid",0,5,5.0,2.0,NaN,NaN,True,not_specified,Neighborhood 76: El Plantío (2569.96 €/m2) - D...,sale,-172372,2752800,2211,True,False,False,not_specified,not_specified,not_specified,False,False,False,False,True,True,True,False,False,False,en trámite,False,False
6709,15033,Casa o chalet independiente en venta en Valde...,"Moncloa, Madrid",0,5,5.0,1.0,NaN,NaN,True,not_specified,Neighborhood 78: Valdemarín (4249.04 €/m2) - D...,sale,-527060,3450000,2464,True,False,False,not_specified,not_specified,not_specified,True,False,False,False,True,True,False,False,False,False,en trámite,True,True
6720,15022,Casa o chalet independiente en venta en Valde...,"Moncloa, Madrid",0,7,8.0,1.0,NaN,NaN,True,not_specified,Neighborhood 78: Valdemarín (4249.04 €/m2) - D...,sale,-205750,2850000,2375,True,False,False,2000.0,False,True,True,True,False,False,True,True,True,False,False,False,B,True,True
6730,15012,Casa o chalet independiente en venta en Valde...,"Moncloa, Madrid",0,8,9.0,1.0,NaN,NaN,True,not_specified,Neighborhood 78: Valdemarín (4249.04 €/m2) - D...,sale,-941720,3900000,3000,True,False,False,not_specified,not_specified,not_specified,True,False,False,False,True,False,False,False,True,False,no indicado,True,True
6744,14998,Casa o chalet independiente en venta en El Pl...,"Moncloa, Madrid",0,6,7.0,2.0,NaN,NaN,True,not_specified,Neighborhood 76: El Plantío (2569.96 €/m2) - D...,sale,-491344,3400000,3400,True,False,False,not_specified,False,True,True,True,False,False,True,True,True,False,True,False,B,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14415,7327,Ático en venta en paseo de la Castellana,"Bernabéu-Hispanoamérica, Madrid",0,13,10.0,1.0,NaN,NaN,True,1,Neighborhood 31: Bernabéu-Hispanoamérica (5170...,sale,-23016668,8000000,6867,True,True,False,1962.0,not_specified,not_specified,False,False,True,True,False,True,True,False,False,False,en trámite,True,True
15492,6250,Casa o chalet independiente en venta en Nueva...,"Chamartín, Madrid",0,9,9.0,7.0,NaN,NaN,True,not_specified,Neighborhood 29: Nueva España (5363.75 €/m2) -...,sale,-1328484,4200000,3268,True,False,False,2002.0,False,True,True,False,False,False,True,False,True,False,False,False,en trámite,True,True
21495,247,Casa o chalet independiente en venta en Urb. ...,"Moncloa, Madrid",0,8,7.0,2.0,NaN,NaN,True,not_specified,Neighborhood 72: Aravaca (3600.4 €/m2) - Distr...,sale,-266250,3000000,2890,True,True,False,1970.0,True,False,True,True,False,False,True,True,True,False,False,False,en trámite,True,True
21497,245,Casa o chalet independiente en venta en Urb. ...,"Moncloa, Madrid",0,7,7.0,2.0,NaN,NaN,True,not_specified,Neighborhood 78: Valdemarín (4249.04 €/m2) - D...,sale,-205750,2850000,2375,True,False,False,2000.0,not_specified,not_specified,True,False,False,False,True,True,True,False,True,False,en trámite,True,True
21545,197,Casa o chalet independiente en venta en Conde...,"Hortaleza, Madrid",0,10,8.0,3.0,NaN,NaN,True,not_specified,Neighborhood 59: Conde Orgaz-Piovera (4275.46 ...,sale,-1480474,4300000,3116,True,True,False,not_specified,False,True,True,False,False,False,True,True,False,False,False,False,en trámite,True,True

In [39]:
db.sq_mt_built=db.sq_mt_built.astype(float)
db.rent_price=db.rent_price.astype(float)
db.buy_price=db.buy_price.astype(float)
db.rent_price=db.rent_price.astype(float)
db.buy_price_by_area=db.buy_price_by_area.astype(float)

In [40]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            21742 non-null  int64
 1   title                         21742 non-null  object
 2   location                      21742 non-null  object
 3   sq_mt_built                   21742 non-null  float64
 4   n_rooms                       21742 non-null  int64
 5   n_bathrooms                   21742 non-null  object
 6   n_floors                      21742 non-null  object
 7   latitude                      0 non-null      float64
 8   longitude                     0 non-null      float64
 9   is_exact_address_hidden       21742 non-null  bool
 10  floor                         21742 non-null  object
 11  neighborhood_id               21742 non-null  object
 12  operation                     21742 non-null  object
 13  rent_price                    21742 non-null  float64
 14  buy_price                     21742 non-null  float64
 15  buy_price_by_area             21742 non-null  float64
 16  is_buy_price_known            21742 non-null  bool
 17  is_renewal_needed             21742 non-null  bool
 18  is_new_development            21742 non-null  object
 19  built_year                    21742 non-null  object
 20  has_central_heating           21742 non-null  object
 21  has_individual_heating        21742 non-null  object
 22  has_ac                        21742 non-null  object
 23  has_fitted_wardrobes          21742 non-null  object
 24  has_lift                      21742 non-null  object
 25  is_exterior                   21742 non-null  object
 26  has_garden                    21742 non-null  object
 27  has_pool                      21742 non-null  object
 28  has_terrace                   21742 non-null  object
 29  has_balcony                   21742 non-null  object
 30  has_storage_room              21742 non-null  object
 31  has_green_zones               21742 non-null  object
 32  energy_certificate            21742 non-null  object
 33  has_parking                   21742 non-null  bool
 34  is_parking_included_in_price  21742 non-null  object
dtypes: bool(4), float64(6), int64(2), object(23)
memory usage: 5.2+ MB

In [41]:
db.isnull().sum()

id                                  0
title                               0
location                            0
sq_mt_built                         0
n_rooms                             0
n_bathrooms                         0
n_floors                            0
latitude                        21742
longitude                       21742
is_exact_address_hidden             0
floor                               0
neighborhood_id                     0
operation                           0
rent_price                          0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
is_renewal_needed                   0
is_new_development                  0
built_year                          0
has_central_heating                 0
has_individual_heating              0
has_ac                              0
has_fitted_wardrobes                0
has_lift                            0
is_exterior                         0
has_garden                          0
has_pool                            0
has_terrace                         0
has_balcony                         0
has_storage_room                    0
has_green_zones                     0
energy_certificate                  0
has_parking                         0
is_parking_included_in_price        0
dtype: int64

In [42]:
len(db.location.value_counts())

146

In [43]:
db.location.value_counts()

Chamartín, Madrid                           851
Moncloa, Madrid                             771
Chamberí, Madrid                            583
Centro, Madrid                              552
Hortaleza, Madrid                           503
                                           ...
Barajas, Madrid                               7
Campo de las Naciones-Corralejos, Madrid      6
Casco Histórico de Barajas, Madrid            5
Timón, Madrid                                 4
Cuatro Vientos, Madrid                        2
Name: location, Length: 146, dtype: int64

In [44]:
db

,id,title,location,sq_mt_built,n_rooms,n_bathrooms,n_floors,latitude,longitude,is_exact_address_hidden,floor,neighborhood_id,operation,rent_price,buy_price,buy_price_by_area,is_buy_price_known,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,has_green_zones,energy_certificate,has_parking,is_parking_included_in_price
0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,2,1.0,1.0,NaN,NaN,False,3,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,sale,471.0,85000.0,1328.0,True,False,False,1960.0,not_specified,not_specified,True,False,False,True,False,False,False,False,False,False,D,False,False
1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,3,1.0,1.0,NaN,NaN,True,4,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,sale,666.0,129900.0,1856.0,True,True,False,not_specified,not_specified,not_specified,False,True,True,True,False,False,True,False,False,False,en trámite,False,False
2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,2,2.0,1.0,NaN,NaN,False,1,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,722.0,144247.0,1535.0,True,False,False,not_specified,False,True,False,True,True,True,False,False,False,False,True,False,no indicado,False,False
3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,2,1.0,1.0,NaN,NaN,True,Bajo,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,sale,583.0,109900.0,1717.0,True,False,False,1955.0,not_specified,not_specified,False,False,True,True,False,False,False,False,True,False,en trámite,False,False
4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,2,2.0,1.0,NaN,NaN,True,4,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,sale,1094.0,260000.0,2407.0,True,False,False,2003.0,not_specified,not_specified,True,True,True,True,False,True,False,False,True,True,en trámite,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21737,5,Ático en venta en Casco Histórico de Barajas,"Barajas, Madrid",78.0,2,2.0,1.0,NaN,NaN,True,4,Neighborhood 10: Casco Histórico de Barajas (3...,sale,1323.0,350000.0,4487.0,True,False,False,2020.0,False,True,True,True,True,True,False,False,False,False,True,False,en trámite,True,True
21738,4,Piso en venta en Urb. Campo de las Naciones - ...,"Barajas, Madrid",96.0,2,2.0,1.0,NaN,NaN,True,3,Neighborhood 9: Campo de las Naciones-Corralej...,sale,1496.0,425000.0,4427.0,True,False,False,2002.0,False,True,True,True,True,True,False,True,False,False,True,True,en trámite,True,True
21739,3,Piso en venta en Campo de las Naciones-Corralejos,"Barajas, Madrid",175.0,4,2.0,1.0,NaN,NaN,True,Bajo,Neighborhood 9: Campo de las Naciones-Corralej...,sale,2081.0,680000.0,3886.0,True,False,False,2002.0,False,True,True,True,False,True,False,True,True,False,True,False,E,True,True
21740,2,"Chalet adosado en venta en calle Burriana, 12","Campo de las Naciones-Corralejos, Madrid",289.0,4,3.0,3.0,NaN,NaN,False,not_specified,Neighborhood 9: Campo de las Naciones-Corralej...,sale,2115.0,695000.0,2405.0,True,False,False,1981.0,not_specified,not_specified,True,True,False,False,True,False,True,True,True,False,en trámite,True,True
21741,1,"Piso en venta en calle San Epifanio, 9","Imperial, Madrid",72.0,2,2.0,1.0,NaN,NaN,False,not_specified,Neighborhood 3: Imperial (4098.59 €/m2) - Dist...,sale,1494.0,424000.0,5889.0,True,False,True,not_specified,not_specified,not_specified,False,False,True,True,False,True,True,False,False,False,A,True,True